.stylistCard {
  background-color: var(--background-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stylistCard:hover {
  box-shadow: var(--box-shadow-hover);
}

.stylistCard div {
  padding: 1rem;
}
.stylistCard h3 {
  color: var(--secondary-font);
}

.stylistCard img {
  background-color: red;
  min-width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

@media screen and (min-width: 960px) {
  .stylistCard {
    flex-direction: column;
    text-align: center;
    width: 25%;
  }
}
