.appointmentCard {
  background-color: var(--background-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 2rem;
  margin: 1rem;
  width: 25rem;
}

.appointmentCardHearder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.appointmentCard h3 {
  color: var(--secondary-font);
}
