.link {
  background-color: white;
  color: var(--primary);
  cursor: pointer;
  font-weight: lighter;
}
.small_link {
  font-size: var(--small-font);
}
.medium_link {
  font-size: var(--medium-font);
}
.large_link {
  font-size: var(--large-font);
}
